{% extends 'layout.html' %}


{% block content %}


    <div class="center-screen">
        <div class="single-pannel">
        <p class="title">About this page</p> 
        <p>Easily realign text to components with text alignment classes. For start, end, and center alignment, responsive classes are available that use the same viewport width breakpoints as the grid system.</p>
        <p>Easily realign text to components with text alignment classes. For start, end, and center alignment, responsive classes are available that use the same viewport width breakpoints as the grid system.</p>
    </div>
    </div>

{% endblock content %}
